name: mz_collection_example
description: Example app showcasing all mz_collection features.

publish_to: 'none'

environment:
  sdk: ^3.6.0
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter
  mz_collection:
    path: ../
  sembast_web: ^2.4.0+3
  path: ^1.9.0
  two_dimensional_scrollables: ^0.3.8
  http: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
